.questions-list {
    width: 30%;
    padding: 20px;
    margin: auto;
    text-align: center;
    border: 1px solid gray;
    border-radius: 10px;

}

.questions_btns {
    padding: 10px;
    border-bottom: 1px solid;
    margin-bottom: 20px;
}

.card { margin:  20px auto !important;}